<h1>Listing re_tweets</h1>

<table>
  <thead>
    <tr>
      <th>Tweet</th>
      <th>Tweeter</th>
      <th>Tweet text</th>
      <th>Retweet text</th>
      <th>Did retweet</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @re_tweets.each do |re_tweet| %>
      <tr>
        <td><%= re_tweet.tweet_id %></td>
        <td><%= re_tweet.tweeter %></td>
        <td><%= re_tweet.tweet_text %></td>
        <td><%= re_tweet.retweet_text %></td>
        <td><%= re_tweet.did_retweet %></td>
        <td><%= link_to 'Show', re_tweet %></td>
        <td><%= link_to 'Edit', edit_re_tweet_path(re_tweet) %></td>
        <td><%= link_to 'Destroy', re_tweet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Re tweet', new_re_tweet_path %>
