<p id="notice"><%= notice %></p>

<p>
  <strong>Tweet:</strong>
  <%= @re_tweet.tweet_id %>
</p>

<p>
  <strong>Tweeter:</strong>
  <%= @re_tweet.tweeter %>
</p>

<p>
  <strong>Tweet text:</strong>
  <%= @re_tweet.tweet_text %>
</p>

<p>
  <strong>Retweet text:</strong>
  <%= @re_tweet.retweet_text %>
</p>

<p>
  <strong>Did retweet:</strong>
  <%= @re_tweet.did_retweet %>
</p>

<% if !@re_tweet.did_retweet %>
  <%= form_for @re_tweet, :url => {:action => "send_retweet"}, :html => { :method => :post } do |f| %>

    <%= f.submit 'RETWEET!', :class => 'success button' %>
    
  <% end %>
<% end %>

<%= link_to 'Edit', edit_re_tweet_path(@re_tweet) %> |
<%= link_to 'Back', re_tweets_path %>
