<h3><%= name %></h3>

<p><%= guide_id %>
<a href="#/<%= id %>/edit">Edit</a>
<a href="#/<%= id %>/destroy" class="destroy">Destroy</a>

<a class="add-item" href="javascript:void(0)">Add To <%= name %></a>
</p>