<!-- Entire Navbar Code -->
<ul class="nav-bar">
  <li class="<%= ap(root_path) %>"><%= link_to 'Home', root_path %></li>
  <li class="<%= ap(critters_path) %> has-flyout">
    <%= link_to 'Critters', critters_path %>
    <a href="#" class="flyout-toggle"><span> </span></a>
    <ul class="flyout">
      <li class="<%= ap(birds_path) %>"><%= link_to 'Birds', birds_path %><%= link_to 'New Bird', new_bird_path %></li>
      <li class="<%= ap(bugs_path) %>"><%= link_to 'Bugs', bugs_path %><%= link_to 'New Bug', new_bug_path %></li>
      <li class="<%= ap(herps_path) %>"><%= link_to 'Reptiles and Amphibians', herps_path %></li>
      <li class="<%= ap(insects_path) %>"><%= link_to 'Insects', insects_path %></li>
      <li class="<%= ap(mammals_path) %>"><%= link_to 'Mammals', mammals_path %></li>
    </ul>
  </li>
  <li class="<%= ap(guides_path) %>">
    <%= link_to 'Guides', guides_path %>
  </li>
</ul>