<h1>Listing guides</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Explorer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @guides.each do |guide| %>
      <tr>
        <td>
          <h4><%= guide.name %></h4>
          <% for section in guide.sections %>
            <h5><%= section.name %></h5>
            <ul class="guide-list">
                <% for critter in section.critters %>
                  <li><%= critter.name %></li>
                <% end %>
            </ul>
          <% end %>
        </td>
        <td><%= guide.explorer_id %></td>
        <td><%= link_to 'Show', guide %></td>
        <td><%= link_to 'Edit', edit_guide_path(guide) %></td>
        <td><%= link_to 'Destroy', guide, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @guides %>
<%= link_to 'New Guide', new_guide_path %>
